Repository COSC481W-2025Fall/planit, pull requests merged in 2025-09, with the labels that each got.

#30 Feature/CRUD_Days
  backend/auth.js
  backend/controllers/daysController.js
  backend/index.js
  backend/middleware/loadOwnedTrip.js
  backend/routes/daysRoutes.js
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/main.jsx
Labels: BACKEND

#33 Feature/23 pbi landing page
  frontend/src/App.jsx
  frontend/src/css/Global.css
  frontend/src/css/LandingPage.css
  frontend/src/pages/LandingPage.jsx
Labels: enhancement, FRONTEND

#46 NavigationUI & LandingPageUI Tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/css/TripPage.css
  frontend/src/tests/LandingPage.test.jsx
  frontend/src/tests/NavBar.test.jsx
  frontend/src/tests/SettingPage.test.jsx
  frontend/src/tests/TopBanner.test.jsx
Labels: needs review, FRONTEND, testing

#55 Testing/#49 crud days tests
  backend/tests/daysController.test.js
  frontend/package-lock.json
  package-lock.json
Labels: BACKEND
